.listContainer {
  margin: 100px auto;
  width: 510px;
  /* border: 1px solid blue; */
}

.type {
  text-align: center;
  font-size: 30px;
  margin: 10px 0 20px;
  font-family: "Dongle", sans-serif;
}

.gridContainer {
  height: 750px;
  overflow: hidden;
  /* border: 1px solid blue; */
}

.movieCard {
  margin: 10px;
  transition: all 0.2s;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.movieCard:hover {
  box-shadow: 5px 5px 10px 0 rgba(128, 128, 128, 0.438);
}

.info {
  font-family: "Gaegu", cursive;
  border: 1px solid rgba(128, 128, 128, 0.212);
}

.titleInfo {
  font-size: 15px;
  margin: 5px 0;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.viewMore {
  margin-top: 20px;
  text-align: center;
}

.button {
  width: 200px;
  height: 40px;
}
