/* 모바일 화면 */
@media screen and (max-width: 700px) {
  .homeContainer {
    height: 530px;
    /* border: 1px solid blue; */
  }

  .mobileLogInSignUp {
    position: absolute;
    width: 100%;
    top: 140px;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    /* border: 1px solid red; */
  }

  .mobileLogIn,
  .mobileSignUp {
    font-size: 13px;
    margin: 20px;
    padding: 5px;
    border-radius: 10px;
    background-color: rgba(54, 36, 158, 0.137);
  }

  .mobileLogIn {
    left: 100px;
  }

  .mobileSignUp {
    left: 200px;
  }

  .gifContainer {
    text-align: center;
    margin-bottom: 50px;
    /* border: 1px solid red; */
  }

  .gif {
    margin-top: 30px;
    width: 200px;
    border-radius: 5%;
  }
}

/* 컴퓨터 화면 */
@media screen and (min-width: 700px) {
  .homeContainer {
    display: flex;
    flex-direction: column;
    min-height: 736px;
    /* border: 1px solid red; */
  }

  .mobileLogInSignUp {
    display: none;
  }

  .gifContainer {
    text-align: center;
    margin-bottom: 30px;
    /* border: 1px solid red; */
  }
}

.searchInputContainer {
  margin: 100px auto 0;
  width: 300px;
  font-family: "Cute Font", cursive;
  /* border: 1px solid red; */
}

.gif {
  width: 200px;
  border-radius: 5%;
}

.searchInput {
  border-radius: 10px;
  height: 40px;
  text-align: center;
  font-size: 20px;
}
