.logInContainer {
  display: flex;
  flex-direction: column;
  /* min-height: 736px; */
  /* border: 1px solid blue; */
}

.logInText {
  font-size: 30px;
  text-align: center;
  margin-top: 100px;
  /* border: 1px solid red; */
}

.logInForm {
  display: flex;
  flex-direction: column;
  margin: 50px auto 0;
  /* border: 1px solid rgba(8, 8, 8, 0.151); */
}

.emailInput,
.pwInput {
  /* width: 100%; */
  font-size: 30px;
}

.submitButton {
  margin: 20px auto 0;
  /* border: 1px solid red; */
}
