.moviePageContainer {
  min-height: 736px;
  display: flex;
  flex-direction: column;
  width: 1300px;
  margin: 50px auto;
  /* border: 1px solid red; */
}

.movieInfoAndComment {
  display: flex;
  /* border: 1px solid red; */
}

.movieInfoContainer {
  display: flex;
  padding: 10px;
  width: 70%;
  border: 1px solid rgba(145, 186, 202, 0.315);
}

.movieInfo {
  padding: 0 20px 20px;
}

.title {
  font-weight: 700;
  font-size: 70px;
  margin-bottom: 10px;
}

.released {
  font-size: 20px;
  margin-bottom: 10px;
}

.director,
.actors,
.genre {
  font-weight: 700;
  font-size: 20px;
}

.text {
  color: gray;
  margin-bottom: 10px;
}
