.profileContainer {
  width: 600px;
  margin: auto;
}

.imageContainer {
  text-align: center;
  font-size: 128px;
  /* border: 1px solid red; */
}

.fileInput {
  width: 0;
  height: 0;
  position: absolute;
}

.image {
  cursor: pointer;
  /* border: 1px solid red; */
}

.defaultImage {
  text-align: center;
}

.nickAndIntroContainer {
  padding: 10px;
  margin: 20px 0;
  border: 1px solid rgba(128, 128, 128, 0.205);
}

.nickNameInputContainer,
.passwordInputContainer {
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
}

.passwordInputContainer {
  padding: 10px;
  margin-bottom: 50px;
  border: 1px solid rgba(128, 128, 128, 0.205);
}

.nickNameLabel,
.passwordLabel {
  font-weight: 800;
  margin-bottom: 5px;
}

.introduce {
  font-weight: 800;
  margin: 20px auto 5px;
}
.submitButton {
  text-align: center;
  margin: 30px 0;
  /* border: 1px solid red; */
}
