.signUpContainer {
  display: flex;
  flex-direction: column;
  /* border: 1px solid blue; */
}

.imageContainer {
  font-size: 100px;
  text-align: center;
  /* border: 1px solid red; */
}

.fileInput {
  width: 0;
  height: 0;
  position: absolute;
}

.signUpForm {
  display: flex;
  flex-direction: column;
  margin: 20px auto 0;
  /* border: 1px solid rgba(8, 8, 8, 0.151); */
}

.image {
  cursor: pointer;
  /* border: 1px solid red; */
}

.defaultImage {
  text-align: center;
}

.emailInput,
.nickNameInput,
.pwInput {
  /* width: 100%; */
  font-size: 20px;
}

.verifyInput {
  font-size: 20px;
  margin-bottom: 20px;
}

.submitButton {
  margin: 10px auto 0;
  /* border: 1px solid red; */
}
