.headerContainer {
  height: 100px;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.103);
}

.home {
  margin: auto;
  font-size: 40px;
  cursor: pointer;
  /* border: 1px solid red; */
}

.userContainer,
.profileContainer {
  position: absolute;
  top: 50px;
  right: 50px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.profileContainer {
  border: 1px solid rgba(128, 128, 128, 0.308);
}
